.header__contact-list, .benefits__list, .environment__list, .team__list, .clients__list, .nav__list, .social-media__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.header__box {
  display: none;
}

.header__box-mobile .nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  margin-top: 60px;
}

.header__contact-item + .header__contact-item {
  margin-top: 16px;
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-item .anchor:hover .header__contact-icon,
.header__contact-item .anchor:focus .header__contact-icon {
  fill: #2196f3;
}

.header.border-bottom {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 14px;
  }
  .header__box-mobile {
    display: none;
  }
  .header__box {
    display: flex;
    justify-content: space-between;
  }
  .header__contact-list {
    align-items: flex-start;
    font-size: 12px;
    margin-top: 0;
  }
  .header__contact-item + .header__contact-item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    flex-wrap: nowrap;
    font-size: 14px;
  }
  .header__contact-item + .header__contact-item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-mob.jpg");
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin: 0 auto 30px auto;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero@2x-mob.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 80px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-tab.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero@2x-tab.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero-desk.jpg");
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-hero@2x-desk.jpg");
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  line-height: 1.714;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.benefits__item {
  width: 100%;
}

.benefits__item:not(:first-child) {
  margin-top: 30px;
}

.benefits__icon-block {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__name {
  text-align: center;
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 1.143;
  font-size: 14px;
  text-transform: uppercase;
}

.benefits__text {
  margin: 0;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
  .benefits__item:nth-child(even) {
    margin-left: 30px;
  }
  .benefits__item:not(:first-child), .benefits__item:not(:nth-child(2)) {
    margin-top: 30px;
  }
  .benefits__name {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .benefits__list {
    flex-wrap: nowrap;
  }
  .benefits__item {
    width: calc((100% -3 * 30px) / 4);
    margin-top: 0;
  }
  .benefits__item + .benefits__item {
    margin-left: 30px;
  }
}

.environment {
  display: none;
  padding-top: 47px;
  padding-bottom: 94px;
}

.environment__list {
  display: flex;
}

.environment__item {
  position: relative;
  width: calc((100% - (2 * 30px)) / 3);
}

.environment__item + .environment__item {
  margin-left: 30px;
}

.environment__image {
  display: block;
}

.environment__box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.environment__text {
  margin: 27px auto;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .environment {
    display: block;
  }
}

.team {
  padding: 60px 0;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  background-color: #f5f4fa;
  line-height: 1.188;
}

.team__member {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .member-photo {
  width: 100%;
  display: block;
  margin: 0;
}

.team__member-discription {
  padding: 30px 32px;
  text-align: center;
}

.team__member-name {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
}

.team__member-position {
  margin: 0 0 16px 0;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .team__member {
    width: calc((100% - 30px) / 2);
  }
  .team__member:nth-child(even) {
    margin-left: 30px;
  }
  .team__member:not(:first-child), .team__member:not(:nth-child(2)) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__list {
    flex-wrap: nowrap;
  }
  .team__member {
    width: calc((100% -3 * 30px) / 4);
    margin-top: 0;
  }
  .team__member + .team__member {
    margin-left: 30px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  height: 90px;
  width: calc((100% - 30px) / 2);
}

.clients__item:nth-child(odd) {
  margin-right: 30px;
}

.clients__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.clients__link {
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .clients__item:nth-child(odd) {
    margin-right: 0;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__item {
    width: calc((100% - 5 * 30px) / 6);
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__contacts, .footer__social-media-box, .footer__subscription-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer__social-media-box, .footer__subscription-box {
  margin-top: 60px;
}

.footer__social-media-box {
  align-items: center;
}

.footer__social-media-title, .footer__subscription-title {
  display: block;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__city {
  margin: 0 0 9px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer__contacts, .footer__social-media-box, .footer__subscription-box {
    display: inline-flex;
    flex-wrap: wrap;
  }
  .footer__social-media-box {
    margin-top: 0;
    margin-left: 165px;
    vertical-align: text-top;
  }
  .footer__subscription-box {
    width: 450px;
    vertical-align: text-top;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts, .footer__social-media-box, .footer__subscription-box {
    align-items: flex-start;
    text-align: left;
  }
  .footer__social-media-box {
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer__subscription-box {
    width: auto;
    margin-top: 0;
  }
}

.form-subscription__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscription__input:hover, .form-subscription__input:focus {
  outline: none;
  border-color: #2196f3;
}

.form-subscription__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .form-subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item + .nav__item {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
  }
  .nav__item + .nav__item {
    margin-top: 0;
    margin-left: 50px;
  }
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #2196f3;
  line-height: 1.174;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nav .logo {
  margin-right: 93px;
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: #ffffff;
}

.footer__contacts .logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.anchor {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anchor--current, .anchor:hover, .anchor:focus {
  position: relative;
  color: #2196f3;
  outline: none;
}

.anchor--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__contact-item .anchor {
  display: flex;
  align-items: center;
  color: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-item .anchor:hover,
.header__contact-item .anchor:focus {
  color: #2196f3;
}

.nav__item .anchor {
  display: block;
}

.footer__address .anchor {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.714;
  font-weight: 400;
  font-size: 14px;
}

.footer__address .anchor:first-of-type {
  display: block;
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .anchor--current {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item .anchor {
    display: block;
    padding: 32px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-item .anchor {
    padding: 32px 0;
  }
}

.btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 6px 22px;
  outline: none;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
  outline: hidden;
}

.btn__main {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.btn-mobile {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: block;
}

.btn-mobile:hover .btn-mobile__icon,
.btn-mobile:active .btn-mobile__icon {
  fill: #2196f3;
}

.btn-mobile .btn-mobile__icon-close,
.btn-mobile.is-open .btn-mobile__icon-menu {
  display: none;
}

.btn-mobile.is-open .btn-mobile__icon-close,
.btn-mobile .btn-mobile__icon-menu {
  display: block;
}

.btn-mobile__icon {
  fill: #212121;
}

.social-media__list {
  font-size: 0;
  display: inline-flex;
}

.social-media__item {
  width: 44px;
  height: 44px;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link, .social-media__link--theme-dark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link--theme-dark:hover, .social-media__link:focus, .social-media__link--theme-dark:focus {
  background-color: #2196f3;
}

.social-media__link--theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover .social-media__icon, .social-media__link--theme-dark:hover .social-media__icon,
.social-media__link:focus .social-media__icon,
.social-media__link--theme-dark:focus .social-media__icon,
.social-media__link--theme-dark .social-media__icon {
  fill: #ffffff;
}

.backdrop {
  padding: 93px 15px;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  height: 581px;
  width: 450px;
  padding: 40px;
  margin: 0 auto;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__close:hover, .modal__close:focus {
  outline: none;
  fill: #2196f3;
}

.backdrop--is-hidden .modal__close {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contact__heading {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0 0 2px;
  color: #212121;
}

.form-contact__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  background-origin: content-box;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 1%;
  font-weight: 400;
  font-style: normal;
  color: #757575;
}

.form-contact__fieldset.checkbox {
  display: inline-block;
  text-align: center;
  margin: 20px 0 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
}

.form-contact__fieldset.checkbox::before {
  display: inline-block;
  vertical-align: text-top;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contact__checkbox:checked + .form-contact__fieldset.checkbox::before {
  background-image: url("../images/check.svg");
  background-color: #2196f3;
  background-position: center;
  border: transparent;
}

.form-contact__checkbox:hover + .form-contact__fieldset.checkbox::before,
.form-contact__checkbox:focus + .form-contact__fieldset.checkbox::before {
  outline: none;
  cursor: pointer;
  border-color: #2196f3;
}

.form-contact__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contact__input:hover, .form-contact__input:focus,
.form-contact__icon:hover ~ .form-contact__input,
.form-contact__icon:focus ~ .form-contact__input {
  outline: none;
  cursor: pointer;
  border-color: #2196f3;
  fill: #2196f3;
}

.form-contact__comment {
  font-size: 14px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
}

.form-contact__comment::placeholder {
  line-height: 1.172;
  letter-spacing: 1%;
  font-weight: 400;
  font-style: normal;
  color: rgba(117, 117, 117, 0.5);
}

.form-contact__comment:hover, .form-contact__comment:focus {
  outline: none;
  cursor: pointer;
  border-color: #2196f3;
  fill: #2196f3;
}

.form-contact__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-contact__link-policy {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.form-contact__icon {
  position: absolute;
  left: 14px;
  top: 50%;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-contact__fieldset:hover .form-contact__icon,
.form-contact__fieldset:focus-within .form-contact__icon {
  outline: none;
  cursor: pointer;
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .form-contact__fieldset.checkbox, .form-contact__link-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin: 0 0 50px 0;
    font-size: 36px;
    line-height: 1.167;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 60px 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  display: block;
}
/*# sourceMappingURL=main.css.map */