.anchor {
  text-decoration: none;
  color: $main-text-color;
  font-weight: 500;
  transition: color $transition;

  &--current,
  &:hover,
  &:focus {
    position: relative;
    color: $accent-color;
    outline: none;
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }

  .header__contact-item & {
    display: flex;
    align-items: center;
    color: $second-text-color;
    transition: fill $transition, color $transition;
  }

  .header__contact-item &:hover,
  .header__contact-item &:focus {
    color: $accent-color;
  }

  .nav__item & {
    display: block;
    // padding: 8px 0;
  }

  .footer__address & {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.714;
    font-weight: 400;
    font-size: 14px;

    &:first-of-type {
      display: block;
      margin-bottom: 9px;
    }
  }
}

@media screen and (max-width: 767px) {
  .anchor {
    &--current {
      padding-bottom: 8px;
    }
  }
}

@media screen and (min-width: $bp-tablet) {
  .anchor {
    .nav__item & {
      display: block;
      padding: 32px 0;
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .anchor {
    .header__contact-item & {
      padding: 32px 0;
    }
  }
}
