.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  line-height: 1.714;
  font-size: 14px;
  letter-spacing: 0.03em;

  &__list {
    @extend %list;
  }

  &__item {
    width: 100%;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &__icon-block {
    height: 120px;
    margin-bottom: 30px;
    background-color: $middle-dark-background;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: 700;
    line-height: 1.143;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: $second-text-color;
  }
}

@media screen and (min-width: $bp-tablet) {
  .benefits {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 30px) / 2);

      &:nth-child(even) {
        margin-left: 30px;
      }

      &:not(:first-child),
      &:not(:nth-child(2)) {
        margin-top: 30px;
      }
    }

    &__name {
      text-align: start;
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 47px;

    &__list {
      display: flex;
      flex-wrap: nowrap;
    }

    &__item {
      width: calc((100% -3 * 30px) / 4);
      margin-top: 0;

      & + & {
        margin-left: 30px;
      }
    }

    &__name {
      text-align: start;
    }
  }
}
