.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    height: 90px;
    width: calc((100% - 30px) / 2);

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  &__link {
    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $icon-color;
    border-radius: 4px;
    transition: border $transition;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }
  }

  &__icon {
    fill: $icon-color;
    transition: fill $transition;

    .clients__link:hover &,
    .clients__link:focus & {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: $bp-tablet) {
  .clients {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 2 * 30px) / 3);

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 0;
      }

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
      display: flex;
      flex-wrap: nowrap;
    }

    &__item {
      width: calc((100% - 5 * 30px) / 6);
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
