.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $darkest-background;

  &__contacts,
  &__social-media-box,
  &__subscription-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  &__social-media-box,
  &__subscription-box {
    margin-top: 60px;
  }

  &__social-media-box {
    align-items: center;
  }

  &__social-media-title,
  &__subscription-title {
    display: block;
    font-family: $main-font-family;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.143;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-background;
  }

  &__city {
    margin: 0 0 9px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $main-background;
  }
}

@media screen and (min-width: $bp-tablet) {
  .footer {
    text-align: center;

    &__contacts,
    &__social-media-box,
    &__subscription-box {
      display: inline-flex;
      flex-wrap: wrap;
      text-align: center;
    }

    &__social-media-box {
      margin-top: 0;
      margin-left: 165px;
      vertical-align: text-top;
    }

    &__subscription-box {
      width: 450px;
      vertical-align: text-top;
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .footer {
    &__contacts,
    &__social-media-box,
    &__subscription-box {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    &__social-media-box,
    &__subscription-box {
      margin-top: 0;
    }

    &__social-media-box {
      margin-left: 70px;
      margin-right: 93px;
    }

    &__subscription-box {
      width: auto;
    }
  }
}
