.header {
  z-index: 5;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  &__box {
    display: none;
  }

  &__box-mobile {
    position: relative;

    .nav-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__contact-list {
    @extend %list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    margin-top: 60px;
  }

  &__contact-item + &__contact-item {
    margin-top: 16px;
  }

  &__contact-icon {
    margin-right: 10px;
    fill: currentColor;
    transition: fill $transition;

    .header__contact-item .anchor:hover &,
    .header__contact-item .anchor:focus & {
      fill: $accent-color;
    }
  }

  &.border-bottom {
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: $bp-tablet) {
  .header {
    font-size: 14px;

    &__box-mobile {
      display: none;
    }

    &__box {
      display: flex;
      justify-content: space-between;
    }

    &__contact-list {
      align-items: flex-start;
      font-size: 12px;
      margin-top: 0;
    }

    &__contact-item + &__contact-item {
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .header {
    &__contact-list {
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      flex-wrap: nowrap;
      font-size: 14px;
    }

    &__contact-item + &__contact-item {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}
