.portfolio {
  padding: 60px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;

  &__list-buttons {
    @extend %list;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__list-buttons-item:not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }

  &__list-buttons-item {
    margin-right: 8px;
  }

  &__list {
    @extend %list;
  }

  &__link {
    outline: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: box-shadow $transition;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $main-text-color;
  }

  &__text {
    margin: 0;
    color: $second-text-color;
  }

  &__item-discription {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__item-animate {
    position: relative;
    overflow: hidden;
  }

  &__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    transform: translateY(101%);
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform $transition;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
      transform: translateY(0);
    }
  }

  &__item-hover-text {
    font-size: 18px;
    line-height: 1.556;
    color: $main-background;
  }
}

@media screen and (min-width: $bp-tablet) {
  .portfolio {
    &__list-buttons {
      justify-content: center;
      flex-wrap: nowrap;
      margin-bottom: 30px;
    }

    &__list-buttons-item:not(:first-child) {
      margin-left: 8px;
    }

    &__list-buttons-item:not(:nth-child(n + 4)) {
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 30px) / 2);

      &:not(:nth-child(even)) {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (min-width: $bp-desktop) {
  .portfolio {
    padding: 94px 0;

    &__list-buttons {
      margin-bottom: 50px;
    }

    &__item {
      width: calc((100% - 2 * 30px) / 3);

      &:not(:nth-child(even)) {
        margin-right: 0;
      }

      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
    }
  }
}
